@use 'variables' as *;

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin button-reset {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit; // 继承父元素的字体
  color: inherit; // 继承父元素的颜色
  &:focus {
    outline: none;
  }
}

@mixin input-style {
  height: 42px;
  border: 1px solid var(--input-border-color);
  background-color: var(--input-bg-color);
  color: var(--text-primary-color);
  // ✨ 现在 $border-radius-medium 就可以被正确找到了！
  border-radius: 18px;
  corner-shape: superellipse(1.5);
  padding: 10px 12px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    border-color: var(--accent-color);
    border-width: 2px;
    outline: none;
  }
}
